@font-face {
  font-family: "Saint Carell";
  src: url("fonts/SaintCarell_PERSONAL_USE_ONLY.otf") format("truetype");
}

.text-cafe {
  color: #a0522d;
}

.text-store {
  color: #556b2f;
}

.btn-store {
  background-color: #556b2f;
  border-color: #556b2f;
  color: #ffffff;
}

.btn-store:hover {
  background-color: #425524;
  border-color: #425524;
  color: #ffffff;
}

.product-card-hover {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.product-card-hover:hover {
  transform: scale(1.03);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
